.btn {
  outline: none;
  box-sizing: unset;
  border: 0;
  padding: 12px 40px;
  border-radius: 4px;
  background: #1C77C3;
  color: #fff;
  font-weight: 400;
  transition: all .32s linear;
  cursor: pointer;

  &.is-small {
    font-size: .875em;
    padding: 8px 20px;
  }
}