.project-button {
  position: relative;
  width: 12em;
  height: 12em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FBFBFB;
  border: 1px dashed #E5E5E5;
  overflow: hidden;
}