.selection {
  display: inline-flex;
  margin-left: auto;

  &-item {
    outline: none;
    border: none;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    width: 2em;
    height: auto;
    opacity: .32;
    transition: all .32s linear;
    cursor: pointer;

    * {
      pointer-events: none;
    }

    &:first-child {
      width: 1.5em;
      margin-right: 1em;
    }

    &.is-selected {
      opacity: 1;
    }
  }
}