.side {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 36%;
  height: 100%;
  padding: 2em;
  background-color: var(--side-bg);
  overflow: hidden;

  &-header {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1em;
      text-transform: uppercase;
      color: #333;
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  &-cta {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
    
    button {
      width: 100%;
      border-radius: 0;
      height: 3em;
      font-weight: 600;

      &:focus {
        outline: none;
      }
    }
  }

  &__progressbar {
    width: 20em;
    height: 20em;
  }
}