.side {
  --button-bg: #39a9db;

  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  padding: 2em;
  background-color: var(--side-bg);
  transition: background-color .32s linear;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &.is-break {
    // --side-bg: #6baa75;
    --side-bg: #cde2d0;
    --button-bg: #6baa75;
  }

  &-header {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1em;
      text-transform: uppercase;
      color: #333;

      img {
        display: block;
        width: 10em;
        height: auto;
      }
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  &-cta {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
    
    button {
      width: 100%;
      border-radius: 0;
      height: 3em;
      font-weight: 600;
      background-color: var(--button-bg);

      &:focus {
        outline: none;
      }
    }
  }

  &__progressbar {
    width: 20em;
    height: 20em;
  }
}