.taskview {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding-top: 2.5em;
  padding-bottom: 6em;


  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;

    &-right {
      display: flex;
      justify-content: flex-end;

      & > div {
        display: flex;
        align-items: center;
        margin-left: 1em;
  
        span {
          margin-left: .25em;
          border-radius: 2em;
          color: #fff;
          font-size: .75em;
          padding: .5em 1em;
        }
  
        &:first-child {
          span {
            background-color: #39a9db;
          }
        }
  
        &:last-child {
          span {
            background-color: #6baa75;
          }
        }
      }
    }

  }

  &-wrapper {
    width: 80%;
  }

  form {
    width: 100%;
    margin-bottom: 2em;

    & > div {
      width: 100%;
      position: relative;

      input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .32);
        background-color: transparent;
        padding: .25em 0em;
        font-size: 1.25em;
      }

      button {
        position: absolute;
        bottom: .2em;
        right: 0;
        width: auto;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1em;
        height: 2em;
        border-radius: 4px;
        background-color: #333;
        border: 0;
        cursor: pointer;
        color: #fff;
      }
    }
  }

  &-list {
    max-height: 30rem;
    overflow-y: scroll;

    &-empty {
      text-align: center;
      margin-top: 6em;
      opacity: .4;
    }

    &__item {
      display: flex;
      align-items: center;
      height: 2em;

      input, label {
        height: 100%;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        margin-left: 1em;
        flex-grow: 1;
      }

      input {
        &:checked + label {
          text-decoration: line-through;
          opacity: .64;
        }
      }
    }
  }
}